@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
      @apply text-3xl;
      font-weight: 600;
    }
    h3 {
      @apply text-2xl;
      font-weight: 600;
      line-height: 2;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');


:root {
    --purple: #dbd3e6;
    --darkerpurple: #494254;
    --darkergray: #d1d1d1;
}

.code {
    background: var(--purple);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

[data-theme='dark'] .code {
    background: var(--darkerpurple);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

[data-theme='dark'] .article-link {
    color: #c1b6d1;
    font-weight: 600;
}

.article-link {
    color: var(--darkerpurple);
    font-weight: 600;
}

img, .codeBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 90%
}


body {
    background-color: #e6e6e6;
    transition: 0.2s linear;
}

[data-theme='dark'] body {
    color: #d4d4d4;
    background-color: #2e2c2c;
}

[data-theme='dark'] div.hr {
  border: 1px solid #454141;
}

[data-theme='dark'] .description {
    color: #d4d4d4;
}

::selection {
    background: var(--purple); 
}

[data-theme='dark'] ::selection {
    background: #494254;
}

.active {
    background-color: var(--purple);
    border-radius: 2px;
}

[data-theme='dark'] .active {
    background-color: var(--darkerpurple)
}

[data-theme='dark'] .pages {
    color: #919191;
}